body {
    background-color: #ccc;
}

.card-action ul li {
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
}

.card-action ul li:last-child {
    margin-bottom: 0px;
}

.card-action ul li a{
    width: 100%;
    font-size: 1.2rem;
}

@media only screen and (max-width:768px) {
	.card-action ul li {
        width: 100%;
    }

    .card-action ul li a{
        font-size: 1.0rem;
    }
}

@media only screen and (max-width:400px) {
    .card-action {
        padding: 16px 0px !important;
    }
}