header #menu-holder {
	height: 100px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	border-bottom: 1px solid grey;
	padding: 30px 10%;
	z-index: 100;
	background-color: #fff;
}

.logo-holder a {
	font-family: 'ultraregular';
	font-size: 2.3em;
	text-decoration: none;
	color:	#333333;
	line-height: 1.2em;
}

.menu ul {
	text-align: right;
}

.menu ul li {
	display: inline-block;
	margin: 0px 15px;
	vertical-align: text-top;	
}

.menu ul li a {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #333;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
	margin-bottom: 5px;
}

.menu ul li a:after {
	content: '';
	display: block;
	background-color: #383131;
	height: 0px;
	width: 100%;
	transition: 0.3s;
}

.menu ul li a:hover:after {
	height: 1px;
}

@media only screen and (max-width:992px) {
.canvas-menu-btn {
	width: 100%;
	height: 100px;
	color: #fff;
	z-index: 1500;
	position: fixed;
	background: rgba(11, 9, 10,0.8);
	text-align: right;
	padding: 27px 20px;
	cursor: pointer;
}

.canvas-menu-btn i {
	font-size: 3em;
}

.canvas-menu-frame {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	left: -100%;
	top: 0;
	padding: 30px;
	transition: 0.5s;
}

.canvas-menu-frame.open {
	left: 0;
}

.blur-effect {
	-webkit-filter: blur(5px);
	-moz-filter:blur(5px);
	-o-filter: blur(5px);
	-ms-filter:blur(5px);
	filter: blur(5px);
}

nav.resp-menu {
	text-align: right;
	padding: 70px 0;
}

.canvas-menu-frame>nav>ul>li>a {	
	color: #fefefe;
	font-family: 'Poppins', sans-serif;
	font-size: 1.7em;
	text-transform: uppercase;
	transition: 0.3s;
	padding: 8px 10px;
	outline: none;
	text-decoration: none;
}

.canvas-menu-frame>nav>ul>li>a.hover,
.canvas-menu-frame>nav>ul>li>a:hover {
	color: #ffbc2d;
}

.canvas-menu-frame>nav>ul>li{
	margin-bottom: 20px;
}

.canvas-menu-frame>nav>ul>li.active>a {
	color: #ffbc2d;
}
.canvas-menu-frame>nav>ul>li.active>a:after {
	width: 100%;
}
}